* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {

    /* background: linear-gradient(to right bottom, rgb(0, 213, 255), rgb(13, 255, 0)); */
    background: linear-gradient(to right bottom, rgb(139, 139, 62),rgb(42, 88, 117));
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
   
}

body {

    font-family: sans-serif;
    line-height: 1.5;
    display: flex;

}


.container {
    background-color: rgb(179, 230, 245);
    width: 400px;
    border-radius: 15px;
    margin: auto;
    /* padding: 20px 30px 40px 20px; */
    padding: 20px 40px 50px 20px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    

}

.form-title {

    text-align: center;
    font-weight: 600;
    padding: 15px;
    font-size: 22px;

}

.reg-form {

    display: grid;
    row-gap: 11px;


}


label {

    display: block;
    margin-bottom: 6px;

}

input {


    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid darkorchid;
}


input:focus {

    outline: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    ;

}



.btn {
    background: linear-gradient(to right bottom, rgba(110, 109, 7, 0.623), rgb(242, 255, 0));
    padding: 10px;
    text-align: center;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;



}


.login {


    background: linear-gradient(to right bottom, rgb(0, 81, 255), rgb(255, 0, 119));
    padding: 5px;
    text-align: center;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


}

.reg {

    background: linear-gradient(to right bottom, rgb(0, 255, 229), rgb(242, 255, 0));
    padding: 5px;
    text-align: center;
    font-size: 20px;
    outline: none;
    border: none;

    border-radius: 5px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-decoration: none;
}

.forgot {

    background: linear-gradient(to right bottom, rgb(0, 255, 229), rgb(242, 255, 0));
    padding: 10px;
    text-align: center;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: rgb(255, 0, 119);
    text-decoration: none;
    box-shadow: rgba(194, 166, 166, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;





}
